@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;

.btn {
  position: relative;
  display: block;
  padding: 16px 24px;
  width: 280px;
  max-width: 100%;
  border-width: 1px;
  border-style: solid;
  @include btnColor_default;
  @include btnColor_hover;
  transition: .3s;
  text-align: center;
}

.link {
  padding-bottom: 4px;
  border-bottom: 1px solid $mainC;
  @include faIconAfter(f0da);
  &:hover {
    border-color: $subC;
  }
}


.pic {
  text-align: center;
}

.notes {
  font-size: .85rem;
  * + & {
    margin-top: 24px;
  }
}

.external-link {
  border: 1px solid $gray;
  background: #f7f7f7;
  padding: 16px;
  margin: 16px 0 24px 0;
  p {
    border-bottom: 1px dotted $gray;
    margin: 0 0 8px 0;
    &:last-child {
      border-bottom: none;
      margin: 0;
    }
  }
  a {
    @include faIconBefore("f35d");
  }
}

// table
.table {
  width: 100%;
  background: #fff;
  tr {
    th, td {
      border: 1px solid $gray;
      padding: 16px;
      word-break: break-all;
    }
    th {
      width: 30%;
      background: $lightgray;
      font-weight: normal;
    }
  }
}
