@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;

.pc {
  display: block;
  @include screen-sm {
    display: none;
  }
}
.sp {
  display: none;
  @include screen-sm {
    display: block;
  }
}

.mincho {
  @include mincho;
}
.gothic {
  @include gothic;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-20%, 0, 0)
  }
  to {
    opacity: 1;
    transform: none
  }
}


.mt0 {@include mt(0);}
.mt4 {@include mt(4);}
.mt8 {@include mt(8);}
.mt12 {@include mt(12);}
.mt16 {@include mt(16);}
.mt24 {@include mt(24);}
.mt32 {@include mt(32);}
.mt40 {@include mt(40)}
.mt64 {@include mt(64)}
.mt80 {@include mt(80)}

.pt0 {@include pt(0);}
.pt4 {@include pt(4);}
.pt8 {@include pt(8);}
.pt12 {@include pt(12);}
.pt16 {@include pt(16);}
.pt24 {@include pt(24);}
.pt32 {@include pt(32);}
.pt40 {@include pt(40)}
.pt64 {@include pt(64)}
.pt80 {@include pt(80)}


.mr0 {@include mr(0);}
.mr4 {@include mr(4);}
.mr8 {@include mr(8);}
.mr12 {@include mr(12);}
.mr16 {@include mr(16);}
.mr24 {@include mr(24);}
.mr32 {@include mr(32);}
.mr40 {@include mr(40)}
.mr64 {@include mr(64)}
.mr80 {@include mr(80)}

.pr0 {@include pr(0);}
.pr4 {@include pr(4);}
.pr8 {@include pr(8);}
.pr12 {@include pr(12);}
.pr16 {@include pr(16);}
.pr24 {@include pr(24);}
.pr32 {@include pr(32);}
.pr40 {@include pr(40)}
.pr64 {@include pr(64)}
.pr80 {@include pr(80)}

.mb0 {@include mb(0);}
.mb4 {@include mb(4);}
.mb8 {@include mb(8);}
.mb12 {@include mb(12);}
.mb16 {@include mb(16);}
.mb24 {@include mb(24);}
.mb32 {@include mb(32);}
.mb40 {@include mb(40)}
.mb64 {@include mb(64)}
.mb80 {@include mb(80)}

.pb0 {@include pb(0);}
.pb4 {@include pb(4);}
.pb8 {@include pb(8);}
.pb12 {@include pb(12);}
.pb16 {@include pb(16);}
.pb24 {@include pb(24);}
.pb32 {@include pb(32);}
.pb40 {@include pb(40)}
.pb64 {@include pb(64)}
.pb80 {@include pb(80)}

.ml0 {@include ml(0);}
.ml4 {@include ml(4);}
.ml8 {@include ml(8);}
.ml12 {@include ml(12);}
.ml16 {@include ml(16);}
.ml24 {@include ml(24);}
.ml32 {@include ml(32);}
.ml40 {@include ml(40)}
.ml64 {@include ml(64)}
.ml80 {@include ml(80)}

.pl0 {@include pl(0);}
.pl4 {@include pl(4);}
.pl8 {@include pl(8);}
.pl12 {@include pl(12);}
.pl16 {@include pl(16);}
.pl24 {@include pl(24);}
.pl32 {@include pl(32);}
.pl40 {@include pl(40)}
.pl64 {@include pl(64)}
.pl80 {@include pl(80)}




// .aligncenter {
//   display: block;
//   margin-right: auto;
//   margin-left: auto;
// }
// .alignright {
//   float: right;
//   margin-bottom: 20px;
//   margin-left: 20px;
// }
// .alignleft {
//   float: left;
//   margin-right: 20px;
//   margin-bottom: 20px;
// }
// .wp-caption,
// [class*='wp-image'] {
//   display: block;
//   max-width: 100% !important;
//   margin-top: 1.5em;
//   text-align: center;
// }
// .wp-caption-text {
//   margin-top: 0;
// }

