@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;

html {
  font-size: 15px;
  scroll-behavior: smooth;
}
body {
  position: relative;
  background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%) fixed;
  background-size: 320% 320%;
  animation: bggradient 24s ease infinite;
  font-family: "Local Noto Sans JP", "Noto Sans JP", sans-serif;
  color: $baseC;
  line-height: 1.6;
  @include screen-md {
    padding-right: 240px;
    &:before {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include flexCenter;
      z-index: -1;
      background: rgba(#fff, .1);
      border: 1px solid #fff;
      border-radius: 24px;
      margin: 24px 32px;
      font-size: 16vw;
      color: rgba(#fff, .15);
      content: "wwwbwb.com"
    }
  }
}
@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper {
  position: relative;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
h1, h2, h3, h4 ,h5 {
  font-weight: 400;
  line-height: 1.6;
  font-feature-settings: "palt";
  letter-spacing: .05em;
}
h2 {
  font-size: 1.6rem;
  letter-spacing: 2px;
}
h3 {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
h4 {
  font-size: 1.15rem;
}
h5, h6 {
  font-size: 1rem;
}
a {
  color: $baseC;
  transition: .3s;
  &:hover, &focus {
    color: $mainC;
    text-decoration: none;
    img {
      opacity: .9;
    }
  }
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
