// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');

// Futura
// @font-face {
//   font-family: 'futura medium';
//   src: url('../fonts/futura/futura_medium.ttf'), url('../fonts/futura/futura_medium.eot');
// }

// @font-face {
//   src: url("../fonts/notosansjp/NotoSansJP-Regular.woff") format("woff");
//   font-family: "Noto Sans JP";
//   font-weight: 400;
//   font-display: swap;
// }
// @font-face {
//   src: url("../fonts/notosansjp/NotoSansJP-Medium.woff") format("woff");
//   font-family: "Noto Sans JP";
//   font-weight: 500;
//   font-display: swap;
// }
// @font-face {
//   src: url("../fonts/notosansjp/NotoSansJP-Bold.woff") format("woff");
//   font-family: "Noto Sans JP";
//   font-weight: 700;
//   font-display: swap;
// }
// @font-face {
//   src: url("../fonts/notosansjp/NotoSansJP-Black.woff") format("woff");
//   font-family: "Noto Sans JP";
//   font-weight: 900;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Material Icons Outlined';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Material Icons Outlined'),
//     local('MaterialIconsOutlined-Regular'),
//     url(../fonts/material-icons/MaterialIconsOutlined-Regular.woff) format('woff'),
// }

.material-icons-outlined {
  font-size: unset;
}
