// colors
$baseC: #555;
$mainC: #3d3393;
$subC: #2cacd1;
$accentC: #35eb93;

$colorRed: #80243B;
$colorYellow: #FCC541;
$colorGreen: #09B387;
$colorBlue: #4990F9;
$colorPurple: #42436D;

$darkgray: #444;
$gray: #95a4a9;
$lightgray: #f7f7f7;
$lightblue: #f4f8fb;

$twitterC: #55acee;
$facebookC: #3b5998;
$googleC: #dd4b39;
$hatenaC: #008FDE;
$pocketC: #ee4056;
$linkedinC: #0e76a8;
$lineC: #00B900;
$instagramC: #D93177;
$youtubeC: #c4302b;

// media query
// xxl
$xxl-min: 1400px;
// xl
$xl-max: 1399px;
$xl-min: 1200px;
// lg
$lg-max: 1199px;
$lg-min: 992px;
// md
$md-max: 991px;
$md-min: 768px;
// sm
$sm-max: 767px;
$sm-min: 576px;
// xs
$xs-max: 575px;
$xs-max: 0px;

