@charset "utf-8";
@import "plugins/bootstrap","plugins/fontawesome";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

$mainC: #050a7d;

body {
  background: #f6f9f9;
  font-family: 'Noto Sans Japanese', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
}
a {
  color: #555;
  transition: .5s;
  &:hover {
    color: $mainC;
    text-decoration: none;
  }
}
h1, h2 {
  font-weight: 900;
}
h3 {
  font-weight: 700;
}
p {
  font-size: .9rem;
  line-height: 1.8;
  letter-spacing: 2px;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
.pc {
  display: block;
  @media (max-width: 767px) {
    display: none;
  }
}
.sp {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
body {
  background: url(../img/body_bg.jpg);
  background-size: cover;
  background-position: center;
}
.content {
  text-align: center;
  #title {
    padding: 2.4rem 0;
  }
}
.bx-viewport {
  padding: 1.6rem 0;
  height: 100% !important;
}
.slide {
  p {
    margin: 0;
  }
}
