// xxl
$xxl-min: 1400px;
// xl
$xl-max: 1399px;
$xl-min: 1200px;
// lg
$lg-max: 1199px;
$lg-min: 992px;
// md
$md-max: 991px;
$md-min: 768px;
// sm
$sm-max: 767px;
$sm-min: 576px;
// xs
$xs-max: 575px;
$xs-max: 0px;