$baseC: #333;
$mainC: #113275;
$subC: #E8A40C;

$colorRed: #80243B;
$colorYellow: #FCC541;
$colorGreen: #09B387;
$colorBlue: #4990F9;
$colorPurple: #42436D;

$darkgray: #444;
$gray: #ccc;
$lightgray: #f7f7f7;
$lightblue: #f4f8fb;

// Brands
$twitterC: #000;
$facebookC: #3b5998;
$googleC: #dd4b39;
$hatenaC: #008FDE;
$pocketC: #ee4056;
$linkedinC: #0e76a8;
$lineC: #00B900;
$instagramC: #D93177;
$youtubeC: #c4302b;