@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;

#footer {
  padding: 40px 0;
  text-align: center;
  .copyright {
    margin: 0;
    color: #fff;
  }
  @include screen-md {
    margin-bottom: 40px;
  }
}