@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;

#main {
  position: relative;
  z-index: 9;
  max-width: 480px;
  margin: 0 auto;
  padding: 32px;
  border-radius: 8px;
  background: rgba(#fff, .6);
  backdrop-filter: blur(4px);
  overflow: hidden;
  @include screen-md {
    padding: 40px;
    border-radius: 0;
  }
}
