@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// home
.front_title {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.4;
  letter-spacing: .1em;
  span {
    display: block;
    padding-top: 24px;
    font-size: 1rem;
    letter-spacing: .2em;
  }
}

.profile_pic {
  max-width: 200px;
  margin: 0 auto;
  padding: 1.2rem;
  text-align: center;
  img {
    border-radius: 50%;
  }
}
.sns_links {
  display: flex;
  flex-wrap: wrap;
  li {
    &:not(:first-child) {
      margin-left: 12px;
    }
    a {
      display: block;
      font-size: 1.6rem;
      line-height: 1;
    }
  }
}
.site_links {
  li {
    a {
      display: block;
      padding: 12px 8px;
      border-bottom: 1px dotted $gray;
      @include faIconAfter(f35d);
      &:hover {
        background: #efefef;
      }
    }
  }
}
