@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.page_header {
  margin-bottom: 24px;
}
.page_title {
  margin: 0;
  background: none;
  font-size: 3rem;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.page_breadcrumbs {
  .breadcrumbs {
    font-size: .8rem;
    li {
      display: inline-block;
      margin: 0 8px 0 0;
      &:not(:first-child):before {
        content: ">";
        margin-right: 8px;
      }
      a {
        color: $subC;
        &:hover {
          text-decoration: underline;
        }
      }
      &:last-child {
        a {
          color: $darkgray;
          cursor: text;
        }
      }
    }
  }
}
.page_body {
  padding-top: 40px;
}

.section {
  p {
    @include mb(32);
    &.lead {
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.8;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  & > h4 {
    font-size: 1.2rem;
    color: $darkgray;
    * + & {
      margin-top: 24px;
    }
  }
  ul {
    margin-bottom: 24px;
    &.list {
      list-style: disc;
      padding-left: 16px;
      font-size: .85rem;
      line-height: 2;
    }
  }
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

.section_title {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid #888;
  font-size: 1.5rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  &:before {
    margin-right: .5rem;
    color: $mainC;
    content: attr(data-number);
  }
  &:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 32px;
    height: 1px;
    background: $mainC;
    content: "";
  }
}

.section_title_h3 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  * + & {
    margin-top: 2.5rem;
  }
}