@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;
@use "../_components" as *;

// profile
.profile_dl {
  display: flex;
  flex-wrap: wrap;
  dt, dd {
    margin-bottom: 16px;
    padding: 0 2px 16px;
  }
  dt {
    width: 100px;
    border-bottom: 1px solid $gray;
    font-weight: normal;
    text-align: center;
  }
  dd {
    padding-left: 24px;
    width: calc(100% - 100px);
    border-bottom: 1px solid #fff;
  }
}
.history_dl {
  display: flex;
  flex-wrap: wrap;
  dt, dd {
    margin-bottom: 12px;
    padding: 4px 16px;
  }
  dt {
    width: 100px;
    border-right: 1px solid $gray;
    font-weight: normal;
    text-align: center;
  }
  dd {
    width: calc(100% - 100px);
  }
}

// projects
.project_box {
  display: block;
  margin-bottom: 24px;
  > p {
    font-size: .9rem;
  }
}