@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  position: relative;
  background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%) fixed;
  background-size: 320% 320%;
  -webkit-animation: bggradient 24s ease infinite;
          animation: bggradient 24s ease infinite;
  font-family: "Local Noto Sans JP", "Noto Sans JP", sans-serif;
  color: #333;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  body {
    padding-right: 240px;
  }
  body:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 24px;
    margin: 24px 32px;
    font-size: 16vw;
    color: rgba(255, 255, 255, 0.15);
    content: "wwwbwb.com";
  }
}

@-webkit-keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  line-height: 1.6;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.15rem;
}

h5, h6 {
  font-size: 1rem;
}

a {
  color: #555;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, afocus {
  color: #3d3393;
  text-decoration: none;
}
a:hover img, afocus img {
  opacity: 0.9;
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.material-icons-outlined {
  font-size: unset;
}

#header {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}
#header .header_title {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  text-align: center;
}
#header .header_content {
  padding: 1rem;
  height: 60px;
  color: #fff;
}
#header .header_content .gnav {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 99;
  display: none;
  background: #fff;
  border: 1px solid #fff;
}
#header .header_content .gnav.opened {
  display: block;
}
#header .header_content .gnav > li a {
  display: block;
  padding: 12px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
#header .header_content .gnav > li a:hover {
  background: #2cacd1;
  color: #fff;
}
#header .header_content .gnav > li a:before {
  margin-right: 12px;
  content: attr(data-number);
}
#header .header_content .gnav > li:not(:last-child) {
  border-bottom: 1px solid #fff;
}
#header .header_content .header_description {
  display: none;
}
@media screen and (min-width: 768px) {
  #header {
    position: absolute;
    right: -240px;
    top: 0;
    height: 100%;
  }
  #header .header_content {
    position: sticky;
    top: 0;
    left: 0;
    padding: 24px;
    width: 240px;
    height: 480px;
  }
  #header .header_content .header_title {
    padding: 24px 0;
    font-size: 1.5rem;
  }
  #header .header_content .gnav {
    position: static;
    display: block;
    background: none;
  }
  #header .header_content .gnav li a {
    color: #fff;
  }
  #header .header_content .header_description {
    display: block;
    margin-top: 40px;
    font-size: 0.8rem;
    text-align: center;
  }
}

.nav-mobile_trigger {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 12px;
  right: 20px;
  z-index: 999;
  background: none;
  border: none;
  cursor: pointer;
}
.nav-mobile_trigger_icon, .nav-mobile_trigger_icon:before, .nav-mobile_trigger_icon:after {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  z-index: 99;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 2px;
  background: #ccc;
}
.nav-mobile_trigger_icon:before, .nav-mobile_trigger_icon:after {
  content: "";
}
.nav-mobile_trigger_icon:before {
  top: -8px;
}
.nav-mobile_trigger_icon:after {
  top: 8px;
}
.nav-mobile_trigger_icon.animated, .animated.nav-mobile_trigger_icon:before, .animated.nav-mobile_trigger_icon:after {
  background: transparent;
}
.nav-mobile_trigger_icon.animated:before, .nav-mobile_trigger_icon.animated:after {
  top: 0;
  opacity: 1;
  background: #ccc;
}
.nav-mobile_trigger_icon.animated:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-mobile_trigger_icon.animated:after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.nav-mobile_trigger:hover, .nav-mobile_trigger:active, .nav-mobile_trigger:focus {
  outline: none;
}
.nav-mobile_trigger:hover_icon, .nav-mobile_trigger:active_icon, .nav-mobile_trigger:focus_icon {
  background: #3d3393;
}
@media screen and (min-width: 768px) {
  .nav-mobile_trigger {
    display: none;
  }
}

#main {
  position: relative;
  z-index: 9;
  max-width: 480px;
  margin: 0 auto;
  padding: 32px;
  background: rgba(255, 255, 255, 0.75);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  #main {
    padding: 40px;
  }
}

#footer {
  padding: 40px 0;
  text-align: center;
}
#footer .copyright {
  margin: 0;
  color: #fff;
}
@media screen and (min-width: 768px) {
  #footer {
    margin-bottom: 40px;
  }
}

.btn {
  position: relative;
  display: block;
  padding: 16px 24px;
  width: 280px;
  max-width: 100%;
  border-width: 1px;
  border-style: solid;
  background-color: #3d3393;
  border-color: #3d3393;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}
.btn:hover, .btn:active, .btn:focus {
  background-color: #fff;
  border-color: #3d3393;
  color: #3d3393;
}
.btn:after {
  margin-left: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f105";
}

.btn-skelton {
  background-color: transparent;
  border-color: #3d3393;
  color: #3d3393;
}
.btn-skelton:hover, .btn-skelton:active, .btn-skelton:focus {
  background-color: #3d3393;
  border-color: #3d3393;
  color: #fff;
}

.btn-full {
  width: 100%;
}

.btn-small {
  width: 160px;
  padding: 6px;
  font-size: 0.9rem;
}

.btn-reserve:before {
  margin-right: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f303";
}
.btn-reserve:after {
  content: none;
}

.btn-line {
  background-color: #00B900;
  border-color: #00B900;
  color: #fff;
}
.btn-line:hover, .btn-line:active, .btn-line:focus {
  background-color: #fff;
  border-color: #00B900;
  color: #00B900;
}
.btn-line:before {
  margin-right: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f3c0";
}
.btn-line:after {
  content: none;
}

.btn-contact {
  background-color: #2cacd1;
  border-color: #2cacd1;
  color: #fff;
}
.btn-contact:hover, .btn-contact:active, .btn-contact:focus {
  background-color: #fff;
  border-color: #2cacd1;
  color: #2cacd1;
}
.btn-contact:before {
  margin-right: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f0e0";
}
.btn-contact:after {
  content: none;
}

.btn-pdf:before {
  margin-right: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f1c1";
}
.btn-pdf:after {
  content: none;
}

.btn-map:before {
  margin-right: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f276";
}
.btn-map:after {
  content: none;
}

.btn-external:after {
  margin-left: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f2d2";
}

.btns_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -8px 0;
}
.btns_list li {
  padding: 0 8px;
}
.btns_list li .btn {
  margin: 8px auto;
}
@media screen and (min-width: 768px) {
  .btns_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.link {
  padding-bottom: 4px;
  border-bottom: 1px solid #3d3393;
}
.link:after {
  margin-left: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f0da";
}
.link:hover {
  border-color: #2cacd1;
}

.link-box {
  display: block;
  border: 1px solid #3d3393;
  position: relative;
}
.link-box:after {
  position: absolute;
  right: 5px;
  bottom: 5px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 12px 12px;
  border-color: transparent transparent #3d3393 transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link-box:hover {
  background: #f3f4f6;
}
.link-box:hover:after {
  border-color: transparent transparent #2cacd1 transparent;
}

.link-external {
  display: inline-block;
}
.link-external span {
  padding-bottom: 4px;
  border-bottom: 1px solid #3d3393;
}
.link-external span:before {
  margin-right: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f35d";
}

.pic {
  text-align: center;
}

.list-disc {
  list-style: disc;
  padding-left: 24px;
}
.list-disc li:not(:first-child) {
  margin-top: 8px;
}

.list-check li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  border-bottom: 1px dotted #95a4a9;
}
.list-check li:before {
  margin-right: 12px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f00c";
  color: #3d3393;
}

.notes {
  font-size: 0.85rem;
}
* + .notes {
  margin-top: 24px;
}

.box-message {
  margin: 0 auto;
  padding: 24px 32px;
  max-width: 960px;
  text-align: center;
  position: relative;
}
.box-message:before, .box-message:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 50px;
}
.box-message:before {
  top: 0;
  left: 0;
  border-top: 1px solid rgba(61, 51, 147, 0.4);
  border-left: 1px solid rgba(61, 51, 147, 0.4);
}
.box-message:after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid rgba(61, 51, 147, 0.4);
  border-right: 1px solid rgba(61, 51, 147, 0.4);
}

.box-notes {
  padding: 24px;
  margin-bottom: 24px;
  border: 2px solid #f7f7f7;
}
.box-notes * + h3 {
  margin-top: 16px;
}
.box-notes h4, .box-notes .note-title {
  padding-left: 16px;
  border-left: 1px solid #3d3393;
}
.box-notes p, .box-notes ul {
  font-size: 0.9rem;
}
* + .box-notes {
  margin-top: 24px;
}

.box-caution {
  padding: 24px 18px;
  margin-bottom: 24px;
  background: rgba(61, 51, 147, 0.05);
}
.box-caution * + h3 {
  margin-top: 16px;
}
.box-caution p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
  color: #3d3393;
}
.box-caution p:before {
  margin-right: 12px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f303";
}
* + .box-caution {
  margin-top: 24px;
}

.box-caution {
  padding: 24px 18px;
  margin-bottom: 24px;
  background: rgba(61, 51, 147, 0.05);
}
.box-caution * + h3 {
  margin-top: 16px;
}
.box-caution p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
  color: #3d3393;
}
.box-caution p:before {
  margin-right: 12px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f303";
}
* + .box-caution {
  margin-top: 24px;
}

.box-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}
.box-icon .icon {
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  text-align: center;
}
.box-icon .icon i {
  font-size: 2.8rem;
  color: #3d3393;
  line-height: 1;
}
.box-icon .content {
  -ms-flex-preferred-size: calc(100% - 80px);
      flex-basis: calc(100% - 80px);
  padding-left: 12px;
}
.box-icon .content .title {
  margin-bottom: 0;
  padding-left: 0;
  border: none;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1rem;
}
.box-icon .content .desc {
  font-size: 0.9rem;
}
.box-icon .content .desc:before {
  display: block;
  margin: 8px 0 12px;
  width: 64px;
  height: 1px;
  background: #444;
  content: "";
}

.external-link {
  border: 1px solid #95a4a9;
  background: #f7f7f7;
  padding: 16px;
  margin: 16px 0 24px 0;
}
.external-link p {
  border-bottom: 1px dotted #95a4a9;
  margin: 0 0 8px 0;
}
.external-link p:last-child {
  border-bottom: none;
  margin: 0;
}
.external-link a:before {
  margin-right: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f35d";
}

.table {
  width: 100%;
  background: #fff;
}
.table tr th, .table tr td {
  border: 1px solid #95a4a9;
  padding: 16px;
  word-break: break-all;
}
.table tr th {
  width: 30%;
  background: #f7f7f7;
  font-weight: normal;
}

.pc {
  display: block;
}
@media screen and (min-width: 576px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (min-width: 576px) {
  .sp {
    display: block;
  }
}

.mincho {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.gothic {
  font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.mt0 {
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .mt0 {
    margin-top: 0px;
  }
}
@media screen and (min-width: 576px) {
  .mt0 {
    margin-top: 0px;
  }
}

.mt4 {
  margin-top: 4px;
}
@media screen and (min-width: 768px) {
  .mt4 {
    margin-top: 3px;
  }
}
@media screen and (min-width: 576px) {
  .mt4 {
    margin-top: 2px;
  }
}

.mt8 {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .mt8 {
    margin-top: 5px;
  }
}
@media screen and (min-width: 576px) {
  .mt8 {
    margin-top: 4px;
  }
}

.mt12 {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .mt12 {
    margin-top: 8px;
  }
}
@media screen and (min-width: 576px) {
  .mt12 {
    margin-top: 6px;
  }
}

.mt16 {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .mt16 {
    margin-top: 11px;
  }
}
@media screen and (min-width: 576px) {
  .mt16 {
    margin-top: 8px;
  }
}

.mt24 {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .mt24 {
    margin-top: 16px;
  }
}
@media screen and (min-width: 576px) {
  .mt24 {
    margin-top: 12px;
  }
}

.mt32 {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .mt32 {
    margin-top: 21px;
  }
}
@media screen and (min-width: 576px) {
  .mt32 {
    margin-top: 16px;
  }
}

.mt40 {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .mt40 {
    margin-top: 27px;
  }
}
@media screen and (min-width: 576px) {
  .mt40 {
    margin-top: 20px;
  }
}

.mt64 {
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .mt64 {
    margin-top: 43px;
  }
}
@media screen and (min-width: 576px) {
  .mt64 {
    margin-top: 32px;
  }
}

.mt80 {
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .mt80 {
    margin-top: 53px;
  }
}
@media screen and (min-width: 576px) {
  .mt80 {
    margin-top: 40px;
  }
}

.pt0 {
  padding-top: 0px;
}
@media screen and (min-width: 768px) {
  .pt0 {
    padding-top: 0px;
  }
}
@media screen and (min-width: 576px) {
  .pt0 {
    padding-top: 0px;
  }
}

.pt4 {
  padding-top: 4px;
}
@media screen and (min-width: 768px) {
  .pt4 {
    padding-top: 3px;
  }
}
@media screen and (min-width: 576px) {
  .pt4 {
    padding-top: 2px;
  }
}

.pt8 {
  padding-top: 8px;
}
@media screen and (min-width: 768px) {
  .pt8 {
    padding-top: 5px;
  }
}
@media screen and (min-width: 576px) {
  .pt8 {
    padding-top: 4px;
  }
}

.pt12 {
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .pt12 {
    padding-top: 8px;
  }
}
@media screen and (min-width: 576px) {
  .pt12 {
    padding-top: 6px;
  }
}

.pt16 {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .pt16 {
    padding-top: 11px;
  }
}
@media screen and (min-width: 576px) {
  .pt16 {
    padding-top: 8px;
  }
}

.pt24 {
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .pt24 {
    padding-top: 16px;
  }
}
@media screen and (min-width: 576px) {
  .pt24 {
    padding-top: 12px;
  }
}

.pt32 {
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .pt32 {
    padding-top: 21px;
  }
}
@media screen and (min-width: 576px) {
  .pt32 {
    padding-top: 16px;
  }
}

.pt40 {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .pt40 {
    padding-top: 27px;
  }
}
@media screen and (min-width: 576px) {
  .pt40 {
    padding-top: 20px;
  }
}

.pt64 {
  padding-top: 64px;
}
@media screen and (min-width: 768px) {
  .pt64 {
    padding-top: 43px;
  }
}
@media screen and (min-width: 576px) {
  .pt64 {
    padding-top: 32px;
  }
}

.pt80 {
  padding-top: 80px;
}
@media screen and (min-width: 768px) {
  .pt80 {
    padding-top: 53px;
  }
}
@media screen and (min-width: 576px) {
  .pt80 {
    padding-top: 40px;
  }
}

.mr0 {
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .mr0 {
    margin-right: 0px;
  }
}
@media screen and (min-width: 576px) {
  .mr0 {
    margin-right: 0px;
  }
}

.mr4 {
  margin-right: 4px;
}
@media screen and (min-width: 768px) {
  .mr4 {
    margin-right: 3px;
  }
}
@media screen and (min-width: 576px) {
  .mr4 {
    margin-right: 2px;
  }
}

.mr8 {
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .mr8 {
    margin-right: 5px;
  }
}
@media screen and (min-width: 576px) {
  .mr8 {
    margin-right: 4px;
  }
}

.mr12 {
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .mr12 {
    margin-right: 8px;
  }
}
@media screen and (min-width: 576px) {
  .mr12 {
    margin-right: 6px;
  }
}

.mr16 {
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .mr16 {
    margin-right: 11px;
  }
}
@media screen and (min-width: 576px) {
  .mr16 {
    margin-right: 8px;
  }
}

.mr24 {
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .mr24 {
    margin-right: 16px;
  }
}
@media screen and (min-width: 576px) {
  .mr24 {
    margin-right: 12px;
  }
}

.mr32 {
  margin-right: 32px;
}
@media screen and (min-width: 768px) {
  .mr32 {
    margin-right: 21px;
  }
}
@media screen and (min-width: 576px) {
  .mr32 {
    margin-right: 16px;
  }
}

.mr40 {
  margin-right: 40px;
}
@media screen and (min-width: 768px) {
  .mr40 {
    margin-right: 27px;
  }
}
@media screen and (min-width: 576px) {
  .mr40 {
    margin-right: 20px;
  }
}

.mr64 {
  margin-right: 64px;
}
@media screen and (min-width: 768px) {
  .mr64 {
    margin-right: 43px;
  }
}
@media screen and (min-width: 576px) {
  .mr64 {
    margin-right: 32px;
  }
}

.mr80 {
  margin-right: 80px;
}
@media screen and (min-width: 768px) {
  .mr80 {
    margin-right: 53px;
  }
}
@media screen and (min-width: 576px) {
  .mr80 {
    margin-right: 40px;
  }
}

.pr0 {
  padding-right: 0px;
}
@media screen and (min-width: 768px) {
  .pr0 {
    padding-right: 0px;
  }
}
@media screen and (min-width: 576px) {
  .pr0 {
    padding-right: 0px;
  }
}

.pr4 {
  padding-right: 4px;
}
@media screen and (min-width: 768px) {
  .pr4 {
    padding-right: 3px;
  }
}
@media screen and (min-width: 576px) {
  .pr4 {
    padding-right: 2px;
  }
}

.pr8 {
  padding-right: 8px;
}
@media screen and (min-width: 768px) {
  .pr8 {
    padding-right: 5px;
  }
}
@media screen and (min-width: 576px) {
  .pr8 {
    padding-right: 4px;
  }
}

.pr12 {
  padding-right: 12px;
}
@media screen and (min-width: 768px) {
  .pr12 {
    padding-right: 8px;
  }
}
@media screen and (min-width: 576px) {
  .pr12 {
    padding-right: 6px;
  }
}

.pr16 {
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .pr16 {
    padding-right: 11px;
  }
}
@media screen and (min-width: 576px) {
  .pr16 {
    padding-right: 8px;
  }
}

.pr24 {
  padding-right: 24px;
}
@media screen and (min-width: 768px) {
  .pr24 {
    padding-right: 16px;
  }
}
@media screen and (min-width: 576px) {
  .pr24 {
    padding-right: 12px;
  }
}

.pr32 {
  padding-right: 32px;
}
@media screen and (min-width: 768px) {
  .pr32 {
    padding-right: 21px;
  }
}
@media screen and (min-width: 576px) {
  .pr32 {
    padding-right: 16px;
  }
}

.pr40 {
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .pr40 {
    padding-right: 27px;
  }
}
@media screen and (min-width: 576px) {
  .pr40 {
    padding-right: 20px;
  }
}

.pr64 {
  padding-right: 64px;
}
@media screen and (min-width: 768px) {
  .pr64 {
    padding-right: 43px;
  }
}
@media screen and (min-width: 576px) {
  .pr64 {
    padding-right: 32px;
  }
}

.pr80 {
  padding-right: 80px;
}
@media screen and (min-width: 768px) {
  .pr80 {
    padding-right: 53px;
  }
}
@media screen and (min-width: 576px) {
  .pr80 {
    padding-right: 40px;
  }
}

.mb0 {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .mb0 {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 576px) {
  .mb0 {
    margin-bottom: 0px;
  }
}

.mb4 {
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .mb4 {
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 576px) {
  .mb4 {
    margin-bottom: 2px;
  }
}

.mb8 {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .mb8 {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 576px) {
  .mb8 {
    margin-bottom: 4px;
  }
}

.mb12 {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .mb12 {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 576px) {
  .mb12 {
    margin-bottom: 6px;
  }
}

.mb16 {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .mb16 {
    margin-bottom: 11px;
  }
}
@media screen and (min-width: 576px) {
  .mb16 {
    margin-bottom: 8px;
  }
}

.mb24 {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .mb24 {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 576px) {
  .mb24 {
    margin-bottom: 12px;
  }
}

.mb32 {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .mb32 {
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 576px) {
  .mb32 {
    margin-bottom: 16px;
  }
}

.mb40 {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .mb40 {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 576px) {
  .mb40 {
    margin-bottom: 20px;
  }
}

.mb64 {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .mb64 {
    margin-bottom: 43px;
  }
}
@media screen and (min-width: 576px) {
  .mb64 {
    margin-bottom: 32px;
  }
}

.mb80 {
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .mb80 {
    margin-bottom: 53px;
  }
}
@media screen and (min-width: 576px) {
  .mb80 {
    margin-bottom: 40px;
  }
}

.pb0 {
  padding-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .pb0 {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 576px) {
  .pb0 {
    padding-bottom: 0px;
  }
}

.pb4 {
  padding-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .pb4 {
    padding-bottom: 3px;
  }
}
@media screen and (min-width: 576px) {
  .pb4 {
    padding-bottom: 2px;
  }
}

.pb8 {
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .pb8 {
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 576px) {
  .pb8 {
    padding-bottom: 4px;
  }
}

.pb12 {
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .pb12 {
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 576px) {
  .pb12 {
    padding-bottom: 6px;
  }
}

.pb16 {
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .pb16 {
    padding-bottom: 11px;
  }
}
@media screen and (min-width: 576px) {
  .pb16 {
    padding-bottom: 8px;
  }
}

.pb24 {
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .pb24 {
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 576px) {
  .pb24 {
    padding-bottom: 12px;
  }
}

.pb32 {
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .pb32 {
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 576px) {
  .pb32 {
    padding-bottom: 16px;
  }
}

.pb40 {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .pb40 {
    padding-bottom: 27px;
  }
}
@media screen and (min-width: 576px) {
  .pb40 {
    padding-bottom: 20px;
  }
}

.pb64 {
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .pb64 {
    padding-bottom: 43px;
  }
}
@media screen and (min-width: 576px) {
  .pb64 {
    padding-bottom: 32px;
  }
}

.pb80 {
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .pb80 {
    padding-bottom: 53px;
  }
}
@media screen and (min-width: 576px) {
  .pb80 {
    padding-bottom: 40px;
  }
}

.ml0 {
  margin-left: 0px;
}
@media screen and (min-width: 768px) {
  .ml0 {
    margin-left: 0px;
  }
}
@media screen and (min-width: 576px) {
  .ml0 {
    margin-left: 0px;
  }
}

.ml4 {
  margin-left: 4px;
}
@media screen and (min-width: 768px) {
  .ml4 {
    margin-left: 3px;
  }
}
@media screen and (min-width: 576px) {
  .ml4 {
    margin-left: 2px;
  }
}

.ml8 {
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .ml8 {
    margin-left: 5px;
  }
}
@media screen and (min-width: 576px) {
  .ml8 {
    margin-left: 4px;
  }
}

.ml12 {
  margin-left: 12px;
}
@media screen and (min-width: 768px) {
  .ml12 {
    margin-left: 8px;
  }
}
@media screen and (min-width: 576px) {
  .ml12 {
    margin-left: 6px;
  }
}

.ml16 {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .ml16 {
    margin-left: 11px;
  }
}
@media screen and (min-width: 576px) {
  .ml16 {
    margin-left: 8px;
  }
}

.ml24 {
  margin-left: 24px;
}
@media screen and (min-width: 768px) {
  .ml24 {
    margin-left: 16px;
  }
}
@media screen and (min-width: 576px) {
  .ml24 {
    margin-left: 12px;
  }
}

.ml32 {
  margin-left: 32px;
}
@media screen and (min-width: 768px) {
  .ml32 {
    margin-left: 21px;
  }
}
@media screen and (min-width: 576px) {
  .ml32 {
    margin-left: 16px;
  }
}

.ml40 {
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .ml40 {
    margin-left: 27px;
  }
}
@media screen and (min-width: 576px) {
  .ml40 {
    margin-left: 20px;
  }
}

.ml64 {
  margin-left: 64px;
}
@media screen and (min-width: 768px) {
  .ml64 {
    margin-left: 43px;
  }
}
@media screen and (min-width: 576px) {
  .ml64 {
    margin-left: 32px;
  }
}

.ml80 {
  margin-left: 80px;
}
@media screen and (min-width: 768px) {
  .ml80 {
    margin-left: 53px;
  }
}
@media screen and (min-width: 576px) {
  .ml80 {
    margin-left: 40px;
  }
}

.pl0 {
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .pl0 {
    padding-left: 0px;
  }
}
@media screen and (min-width: 576px) {
  .pl0 {
    padding-left: 0px;
  }
}

.pl4 {
  padding-left: 4px;
}
@media screen and (min-width: 768px) {
  .pl4 {
    padding-left: 3px;
  }
}
@media screen and (min-width: 576px) {
  .pl4 {
    padding-left: 2px;
  }
}

.pl8 {
  padding-left: 8px;
}
@media screen and (min-width: 768px) {
  .pl8 {
    padding-left: 5px;
  }
}
@media screen and (min-width: 576px) {
  .pl8 {
    padding-left: 4px;
  }
}

.pl12 {
  padding-left: 12px;
}
@media screen and (min-width: 768px) {
  .pl12 {
    padding-left: 8px;
  }
}
@media screen and (min-width: 576px) {
  .pl12 {
    padding-left: 6px;
  }
}

.pl16 {
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .pl16 {
    padding-left: 11px;
  }
}
@media screen and (min-width: 576px) {
  .pl16 {
    padding-left: 8px;
  }
}

.pl24 {
  padding-left: 24px;
}
@media screen and (min-width: 768px) {
  .pl24 {
    padding-left: 16px;
  }
}
@media screen and (min-width: 576px) {
  .pl24 {
    padding-left: 12px;
  }
}

.pl32 {
  padding-left: 32px;
}
@media screen and (min-width: 768px) {
  .pl32 {
    padding-left: 21px;
  }
}
@media screen and (min-width: 576px) {
  .pl32 {
    padding-left: 16px;
  }
}

.pl40 {
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  .pl40 {
    padding-left: 27px;
  }
}
@media screen and (min-width: 576px) {
  .pl40 {
    padding-left: 20px;
  }
}

.pl64 {
  padding-left: 64px;
}
@media screen and (min-width: 768px) {
  .pl64 {
    padding-left: 43px;
  }
}
@media screen and (min-width: 576px) {
  .pl64 {
    padding-left: 32px;
  }
}

.pl80 {
  padding-left: 80px;
}
@media screen and (min-width: 768px) {
  .pl80 {
    padding-left: 53px;
  }
}
@media screen and (min-width: 576px) {
  .pl80 {
    padding-left: 40px;
  }
}

.front_title {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
}
.front_title span {
  display: block;
  padding-top: 24px;
  font-size: 1rem;
  letter-spacing: 0.2em;
}

.profile_pic {
  max-width: 200px;
  margin: 0 auto;
  padding: 1.2rem;
  text-align: center;
}
.profile_pic img {
  border-radius: 50%;
}

.sns_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sns_links li:not(:first-child) {
  margin-left: 12px;
}
.sns_links li a {
  display: block;
  font-size: 1.6rem;
  line-height: 1;
}

.site_links li a {
  display: block;
  padding: 12px 8px;
  border-bottom: 1px dotted #95a4a9;
}
.site_links li a:after {
  margin-left: 8px;
  font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f35d";
}
.site_links li a:hover {
  background: #efefef;
}

.page_header {
  margin-bottom: 24px;
}

.page_title {
  margin: 0;
  background: none;
  font-size: 3.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.page_breadcrumbs .breadcrumbs {
  font-size: 0.8rem;
}
.page_breadcrumbs .breadcrumbs li {
  display: inline-block;
  margin: 0 8px 0 0;
}
.page_breadcrumbs .breadcrumbs li:not(:first-child):before {
  content: ">";
  margin-right: 8px;
}
.page_breadcrumbs .breadcrumbs li a {
  color: #2cacd1;
}
.page_breadcrumbs .breadcrumbs li a:hover {
  text-decoration: underline;
}
.page_breadcrumbs .breadcrumbs li:last-child a {
  color: #444;
  cursor: text;
}

.page_body {
  padding-top: 40px;
}

.section p {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .section p {
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 576px) {
  .section p {
    margin-bottom: 16px;
  }
}
.section p.lead {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.8;
}
.section p:last-child {
  margin-bottom: 0;
}
.section > h4 {
  font-size: 1.2rem;
  color: #444;
}
* + .section > h4 {
  margin-top: 24px;
}
.section ul {
  margin-bottom: 24px;
}
.section ul.list {
  list-style: disc;
  padding-left: 16px;
  font-size: 0.85rem;
  line-height: 2;
}
.section:not(:last-child) {
  margin-bottom: 80px;
}

.section_title {
  position: relative;
  margin-bottom: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid #95a4a9;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.section_title:before {
  margin-right: 12px;
  padding-left: 8px;
  color: #3d3393;
  content: attr(data-number);
}
.section_title:after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 32px;
  height: 1px;
  background: #3d3393;
  content: "";
}

.section_title_h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 16px;
  padding-left: 12px;
  border-left: 1px solid #555;
  font-size: 1.4rem;
}
* + .section_title_h3 {
  margin-top: 40px;
}

.profile_dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.profile_dl dt, .profile_dl dd {
  margin-bottom: 16px;
  padding: 0 2px 16px;
}
.profile_dl dt {
  width: 100px;
  border-bottom: 1px solid #95a4a9;
  font-weight: normal;
  text-align: center;
}
.profile_dl dd {
  padding-left: 24px;
  width: calc(100% - 100px);
  border-bottom: 1px solid #fff;
}

.history_dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.history_dl dt, .history_dl dd {
  margin-bottom: 12px;
  padding: 4px 16px;
}
.history_dl dt {
  width: 100px;
  border-right: 1px solid #95a4a9;
  font-weight: normal;
  text-align: center;
}
.history_dl dd {
  width: calc(100% - 100px);
}

.project_box {
  display: block;
  margin-bottom: 24px;
}
.project_box > p {
  font-size: 0.9rem;
}