@use "../../foundation/variable" as *;

@mixin coverBg {
  background-size: cover;
  background-position: center center;
}
@mixin layerBg {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  content: "";
  margin: auto;
  width: 100%;
  height: 100%;
}
@mixin bgDotBlue {
  background-color: rgba($mainC, .1);
  background-size: 4px 4px;
  background-image: radial-gradient(rgba(255,255,255,1),rgba(255,255,255,1) 2px,transparent 0px,transparent);
}
@mixin bgDotGray {
  background-color: $lightgray;
  background-size: 4px 4px;
  background-image: radial-gradient(rgba(255,255,255,1),rgba(255,255,255,1) 1px,transparent 0px,transparent);
}
@mixin bgDot($baseColor: $subC01) {
  background-color: $baseColor;
  background-size: 4px 4px;
  background-image: radial-gradient(rgba(255,255,255,1),rgba(255,255,255,1) 2px,transparent 0px,transparent);
}
@mixin bgStripe($baseColor: $subC01) {
  background: linear-gradient(45deg, $baseColor 25%, transparent 25%,transparent 50%, $baseColor 50%, $baseColor 75%,transparent 75%, transparent) center / 8px 8px;
}
@mixin bgGrid($baseColor: #efefef) {
  background-image: linear-gradient($baseColor 1px, transparent 1px),linear-gradient(to right, $baseColor 1px, transparent 1px);
  background-size: 32px 32px;
}

@mixin gradation($topColor, $bottomColor) {
  background: mix($topColor, $bottomColor, 50%); //開始色と終了色の中間の色を背景色に指定
  background: linear-gradient($topColor, $bottomColor);
}
@mixin coverDot {
  &:before {
    @include layerBg;
    background: rgba(#000, .2) radial-gradient(rgba(0, 0, 0, .1) 16%, transparent 0) center / 8px 8px;  
  }
}
@mixin coverDotDark {
  &:before {
    @include layerBg;
    background-color: rgba(0,0,0,.6);
    background-image: radial-gradient(rgba(0, 0, 0, .1) 40%, transparent 0);
    background-size: 4px 4px;
  }
}
@mixin sectionBg {
  &:after {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    z-index: -1;
    margin-left: -50vw;
    margin-right: -50vw;
    background: $lightgray;
    content: "";
  }
}
